PORT=5000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://your_user:your_password@your_host/your_db
SECRET=your_jwt_secret_key_here
CRYPTO_KEY=abcdefghijklmnop
EMAIL_SERVICE=Gmail
EMAIL=your_email@gmail.com
PASSWORD=your_app_password
INTERFACE_API_KEY=
TEXTRAZOR_API_KEY=
INTERFACE_API_URL=https://api-inference.huggingface.co/models/facebook/bart-large-mnli
TEXTRAZOR_API_URL=https://api.textrazor.com/
